
@import '../theme/variables.scss';

.header {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  margin: 0 1rem 5rem 1rem;
  border-bottom: 2px #DADADA solid;
  height: 25rem; 
  @media only screen and (min-width: $tablet) {
    margin: 5rem 1rem;
    flex-direction: row;
    &:nth-child(even) {
      .image {
        order: 1;
        margin-left: 4rem;
        margin-right: 0;
      }
    }
  }
}

.image {
  position: relative;
  width: 100%;
  height: 42rem;
  margin-bottom: 2rem;
  display: flex;
  align-self: flex-start;
  margin-top: 6rem;
  order: 1;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90%;
    margin: auto;
  }

  @media only screen and (min-width: $tablet) {
    position: relative;
    width: 30rem;
    height: auto;
    margin-right: 4rem;
    margin-bottom: 0;

    img {
      width: 90%;
      height: auto;
    }
  }

  @media only screen and (min-width: $desktop) {
    width: 16rem;
  }
}

.content {
  order: 1;
}

*{
  box-sizing: border-box;
}
/**
 * Project details content titles bold/width
 */
.titleProps {
  font-weight: $title-weight;
  margin-bottom: 1rem;
}

/**
 * Project details content sub titles font size
 */
.subTitle{
  font-weight:$title-weight;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

/**
 * Project description content font size and line height
 */
.projectDescription{
  line-height: 2.5rem;
  font-size: 1.5em;
}

/**
 * container to contain both sections of project description, project description and tech/tags
 */
.contentContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1.1rem;
}

/**
 * container to contain both sections of project description, project description and tech/tags
 */
 .otherContentContainer {
  margin: 1.1rem;
}


/**
 * Creating two unequal columns that sits next to each other, project overview and (tags, technology) 
 */

 /* Main column */
.main {
  flex: 55%;
  padding: 5px;
  margin-right: 15%;
}

/* Side column */
.side {
  flex: 30%;
  padding: 5px;
}

/**
 * Responsive layout - when the screen is less than 700px wide, make the two columns 
 * stack on top of each other instead of next to each other 
 */
@media screen and (max-width: 700px) {
  .content_container {   
      flex-direction: column;
  }
  .sub_title {
    margin-top: 2rem;
  }
}

.technologyContent {
  font-size: 1.6rem;
  color: $red;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 2rem;
}

.tagsSection {
  margin-top: 2rem;
}

.tagsParent {
  display: inline-block;
  margin: .3rem;
}

.tagsChild {
  flex: 0 0 auto;
  height: 2.3em;
  border-radius: 1000px;
  background-color: $red;
  min-width: 5rem;
  padding: .7rem;
  color: $white;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

/**
 * team styling
 */

 .teamHeading {
   margin-top: 5rem;
   display: block;
 }

 .team{
   display: flex;
   flex-wrap: wrap;
   flex: 60%;
   max-width: 75%;
  }
  .member {
    flex: 0 0 auto;
    min-width: 13rem;
    margin: 3px;
    font-size: 1rem;
    padding: 1.5rem;
    display: flex;
  }

  .memberName {
    line-height: 3rem;
  }

  .twitterButton {
    border: 2px inset $black;
    padding: .4rem;
  }


  .teamAvatar{
      width: 4rem;
      height: 4rem;
      margin: 1em auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
    }  

  .memberDetails{
    margin-left: 1rem;
  }

  .screenshotsContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
  }

  .screenshots{
    flex: 0 0 auto;
    margin: .2rem;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .screenshotImage{    
    width: 27rem;
    height: 27rem;
    margin-left: -5rem;
    margin-right: -9rem;
}