@import '../../../theme/variables.scss';

.project {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  margin: 3rem 1rem 1rem;

  @media only screen and (min-width: $desktop) {
    margin: 1rem 1rem 0rem;
  }
}

.content {
  order: 1;
}
