@import '../../../theme/variables.scss';

.project {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  margin: 3rem 1rem 1rem;

  @media only screen and (min-width: $desktop) {
    margin: 1rem 1rem 0;
  }
}

.content {
  order: 1;
}

.tags {
  color: lighten($black, 40%);
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0 0 1em 0;
}

.tag {
  margin-right: 0.5em;
  &:after {
    content: '•';
    padding-left: 0.7em;
  }
  &:last-child {
    margin-right: 0;
    &:after {
      content: '';
    }
  }
}
