@import '../../theme/variables.scss';

.img {
  display: block;

  &:global(.lazyload) {
    filter: blur(5px);
    transition: filter 400ms;
  }

  &:global(.lazyloaded) {
    filter: blur(0);
  }

  @media only screen and (max-width: $largeTablet) {
    margin-top: 2rem;
  }
}
