// Typography
$fontRegular: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
$fontAlt: Khula, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;

// Colors
$black: #1b1b1b;
$white: #ffffff;
$red: #ff5c5d;
$title-weight: 600;

// breakpoints
$tablet: 30rem;
$desktop: 64rem;
$wide: 86rem;
$ultrawide: 120rem;
$max-body-width: 94rem;
