@import '../../../theme/variables.scss';

.btnChild {
    position: relative;
    display: inline-flex;
    border: 1px solid $black;
    padding: 1rem 2.925rem 1rem 1rem;
    color: $black;
    align-self: flex-start;
    font-size: 24px;
    margin-top: 20px;
  
    &:hover,
    &:visited {
      color: inherit;
    } 
  }
  
  .arrowChild {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.725rem;
    margin: auto;
    width: 1.75rem;
    height: 0.75rem;
  }
  
  .githubChild {
    width: 2.2rem;
    height: 2.2rem;
    margin: -0.3rem 0.6em;
  }
  