@import '../../../theme/variables.scss';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1.0875rem 1.45rem;
}

.innerContent {
  max-width: 90rem;
  margin-bottom: 3rem;
  width: 100%;

  @media only screen and (min-width: $max-body-width) {
    width: $max-body-width;
  }
}

.netlify {
  text-align: center;
  padding: 1rem;
}
