@import '../../theme/variables.scss';

.logoContainer {
  text-align: center;
  @media only screen and (min-width: $desktop) {
    text-align: left;
  }
}

.hero {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: top center;
  color: #fff;
  overflow: hidden;

  a {
    color: inherit;
  }
}

:global(.webp) {
  .hero {
    background-image: url('http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_480/v1531492504/labs/hero-bg.webp');
    background-image: -webkit-image-set(
      'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_480/v1531492504/labs/hero-bg.webp'
        1x,
      'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_960/v1531492504/labs/hero-bg.webp'
        2x,
      'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1024/v1531492504/labs/hero-bg.webp'
        3x
    );
    background-image: image-set(
      'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_480/v1531492504/labs/hero-bg.webp'
        1x,
      'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_960/v1531492504/labs/hero-bg.webp'
        2x,
      'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1024/v1531492504/labs/hero-bg.webp'
        3x
    );

    @media only screen and (min-width: $tablet) {
      background-image: url('http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1024/v1531492504/labs/hero-bg.webp');
      background-image: -webkit-image-set(
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1024/v1531492504/labs/hero-bg.webp'
          1x,
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30/v1531492504/labs/hero-bg.webp'
          2x
      );
      background-image: image-set(
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1024/v1531492504/labs/hero-bg.webp'
          1x,
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30/v1531492504/labs/hero-bg.webp'
          2x
      );
    }

    @media only screen and (min-width: $desktop) {
      background-image: url('http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1440/v1531492504/labs/hero-bg.webp');
      background-image: -webkit-image-set(
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1440/v1531492504/labs/hero-bg.webp'
          1x,
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30/v1531492504/labs/hero-bg.webp'
          2x
      );
      background-image: image-set(
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30,w_1440/v1531492504/labs/hero-bg.webp'
          1x,
        'http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30/v1531492504/labs/hero-bg.webp'
          2x
      );
    }
  }
}

:global(.nowebp) {
  .hero {
    background-image: url('http://res.cloudinary.com/modus-labs/image/upload/b_black,o_30/v1531492504/labs/hero-bg.jpg');
  }
}

.innerContainer {
  padding: 2rem 2rem 12rem 2rem;
  @media only screen and (min-width: $desktop) {
    padding: 4rem 12rem 12rem 5rem;
  }
}

.cutout {
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  width: 100%;

  &.md,
  &.lg {
    display: none;
  }

  @media only screen and (min-width: $wide) {
    &.md {
      display: block;
    }
    &.sm,
    &.lg {
      display: none;
    }
  }
  @media only screen and (min-width: $ultrawide) {
    &.lg {
      display: block;
    }
    &.sm,
    &.md {
      display: none;
    }
  }
}

.artifactsDesktop {
  position: absolute;
  top: 0;
  right: 0;
  display: none;

  @media only screen and (min-width: $desktop) {
    display: block;
  }
}

.artifactsMobile {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.introHeader {
  margin-bottom: 1.25rem;
}

.outroHeader {
  margin-top: 1.25rem;
}

.animatedWords {
  height: 1.25em;
}
