@import '../../theme/variables.scss';

.container {
  background-color: $black;
  color: $white;
}

.footer {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
  padding: 2rem 4rem;
}

.col {
  flex: 1;
}

.link {
  color: $white;
  text-decoration: none;
}
