@import '../../theme/variables.scss';
.footer {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;

  background-color: $black;
  color: $white;
}

.col {
  flex: 1;
}

.link {
  color: $white;
  text-decoration: none;
}
