@import '../../../theme/variables.scss';

/*
 * Project Detail (github) button for home screen (big size)
 */
 .btn {
  position: relative;
  display: inline-flex;
  border: 1px solid $black;
  padding: 0.825rem 2.825rem 0.825rem 0.825rem;
  color: $black;
  align-self: flex-start;

  &:hover,
  &:visited {
    color: inherit;
  }
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.625rem;
  margin: auto;
  width: 1.75rem;
  height: 0.75rem;
}

.github {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.6em;
}

/*
 * Project Detail (github) button for internal screens (small in size)
 */

.btnChild {
    position: relative;
    display: inline-flex;
    border: 1px solid $black;
    padding: 1rem 2.925rem 1rem 1rem;
    color: $black;
    align-self: flex-start;
    font-size: 2.4rem;
    margin-top: 2rem;
  
    &:hover,
    &:visited {
      color: inherit;
    } 
  }
  
  .arrowChild {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.725rem;
    margin: auto;
    width: 1.75rem;
    height: 0.75rem;
  }
  
  .githubChild {
    width: 2.2rem;
    height: 2.2rem;
    margin: -0.3rem 0.6em;
  }
  