@import '../../../theme/variables.scss';

@mixin hover-effect() {
  box-shadow: 0 0 0 rgba(4, 4, 4, 0.25);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 14px 30px -15px rgba(4, 4, 4, 0.25), 0 16px 38px -10px rgba(4, 4, 4, 0.2);
  }

  &:hover,
  &:visited {
    color: inherit;
  }
}

/*
 * Project Detail (github) button for home screen (big size)
 */
.btn {
  position: relative;
  display: inline-flex;
  border: 1px solid $black;
  padding: 0.825rem 2.825rem 0.825rem 0.825rem;
  color: $black;
  align-self: flex-start;
  @include hover-effect();
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.625rem;
  margin: auto;
  width: 1.75rem;
  height: 0.75rem;
}

.github {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.6em;
}

/*
 * Project Detail (github) button for internal screens (small in size)
 */

.btnChild {
  position: relative;
  display: inline-flex;
  border: 1px solid $black;
  padding: 1rem 2.925rem 1rem 1rem;
  color: $black;
  align-self: flex-start;
  font-size: 2.4rem;
  margin-top: 2rem;
  @include hover-effect();
}

.arrowChild {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.725rem;
  margin: auto;
  width: 1.75rem;
  height: 0.75rem;
}

.githubChild {
  width: 2.2rem;
  height: 2.2rem;
  margin: -0.3rem 0.6em;
}
