@import '../../../theme/variables.scss';

a:hover {
  color: $red;
}
/**
 * Project details content titles bold/width
 */
.title {
  composes: title from global;
  margin-top: 5rem;
}

.screenshotsContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.screenshots {
  flex: 0 0 auto;
  margin: 0.2rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.screenshotImage {
  max-width: 27rem;
  margin-right: -9rem;
}

.description {
  line-height: 2.5rem;
  font-size: 1.5em;

  a {
    text-decoration: underline;
  }
}
