@import '../../theme/variables';

.container {
  position: relative;
  padding: 4rem 1rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -8rem;
  background-size: cover;

  @media only screen and (min-width: $desktop) {
    background-position-x: right;
    background-position-y: -1rem;
    background-size: contain;
    padding: 5rem;
  }

  @media only screen and (min-width: $max-body-width) {
    padding: 5rem 0;
  }
}


.title {
  display: block;
  text-transform: uppercase;
  composes: h1 from global;
}

.highlight {
  color: $red;
}

.content {
  display: block;
  padding: 2rem 0;
  font-size: 1.75em;
  composes: h3 from global;


  @media only screen and (min-width: $desktop) {
    padding: 1rem 0;
    font-size: 1.95em;
  }
}

.cta {
  margin-bottom: 1rem;
  margin-right: 0;

  @media only screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  @media only screen and (min-width: $desktop) {
    flex-direction: row;
  }
}
